

<!--about me start-->
<section class="aboutme" id="aboutme">

    <div class="container">
        <div class="heading">
            <h2>About me</h2>
            <p>A small introduction about my self</p>
        </div>
        <div class="row">

            <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 proPic">
                <img src="../../assets/images/vaibhav.jpg" alt="Vaibhav Circular Image" class="img-circle profile-pic topmar">
            </div>
            <div class=" col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <h3>Vaibhav Soni</h3>
                <h4 class="subHeading">Web Designer &amp; Web Developer from New Jersey</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.  cillum dolore eu fugiat nulla pariatur. olore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                <p>nulla pariatur.uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. olore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                <a href="#" class="bntDownload">Download Printable Resume</a>
            </div>
        </div>
    </div>

</section>

<!--about me end-->

<!--technical start-->
<section class="technical" id="technical">
    <div class="container">

        <div class="heading">
            <h2>Technical Skills</h2>
            <p>I can say i’m quite good at</p>
        </div>
        <div class="row">

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                    	<span class="chart skilBg" data-percent="90">
                            <span class="percent"></span>
                        </span>

                    <h4>HTML5 / CSS3</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="80">
                            <span class="percent"></span>
                        </span>

                    <h4>jQuery</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                    	<span class="chart skilBg" data-percent="80">
                            <span class="percent"></span>
                        </span>

                    <h4>Javascript</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="75">
                            <span class="percent"></span>
                        </span>

                    <h4>Bootstrap</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="60">
                            <span class="percent"></span>
                        </span>

                    <h4>RWD</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="65">
                            <span class="percent"></span>
                        </span>

                    <h4>less / sass</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="75">
                            <span class="percent"></span>
                        </span>

                    <h4>Angular js</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="60">
                            <span class="percent"></span>
                        </span>

                    <h4>mean.js</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="65">
                            <span class="percent"></span>
                        </span>

                    <h4>unit testing</h4>
                    <p>Donec accumsan ligula vitae mag na curabitur id</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!--technical end-->


<!--exprience start-->
<section class="exprience" id="exprience">

    <div class="container">
        <div class="heading">
            <h2>Work Experience</h2>
            <p>My previous associations</p>
        </div>

        <div class="row workDetails">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="workYear">Jun,2014<br> Present</div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="exCon">
                    <h4>Bridge2Solutions</h4>
                    <h5>UI / Front-end Developer</h5>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                </div>
            </div>
        </div>

        <div class="row workDetails">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="workYear">Nov,2012<br> May,2014</div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="exCon">
                    <h4>BPS Solutions</h4>
                    <h5>Web / UI Developer</h5>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                </div>
            </div>
        </div>

        <div class="row workDetails">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="workYear">Jun,2009<br> Aug,2012</div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                <div class="arrowpart"></div>
                <div class="exCon">
                    <h4>F5 Systems</h4>
                    <h5>Trainee / Web Developer</h5>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                </div>
            </div>
        </div>

    </div>

</section>
<!--exprience end-->