<h1>This is A Contact View !</h1>
<div class="button" id="contact"  keep-in-touch style="width: 257.736px; left: -5px; top: 160.4px; height: 77px; color: rgb(34, 34, 34); background: rgb(255, 68, 84);">
    <div id="contact-icons" style="margin-top: 84px;">
        <!--<div id="open">
            <div class="in">Selectively</div>
            <br>
            <div id="introduce">FREELANCING</div>
        </div>
        <div id="icon-vr"></div>
        &lt;!&ndash; CONTACT ICONS &ndash;&gt;
        <div class="email-icon"></div>
        <div class="twitter-icon"></div>
        <div class="email-icon-preload"></div>
        <div class="twitter-icon-preload"></div>
        <div id="phone"><a href="https://github.com/narrowdesign/narrowdesign" target="_blank" style="font-size:.8em"><icon>g</icon></a></div>-->
    </div>
    <div id="contact-cta" style="margin-top: 0px;"><span class="in">Hello.</span></div>
</div>

<!--
<input type="text" ng-model="color" placeholder="Enter a color" />
<hello-world/>-->
